<div class="container" style=" width: 70%; margin-left: 15%; margin-rigth:15%; margin-top: 20%;">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row" style= "margin-top:2%;">
    <div class="col-lg">
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"correo@ejemplo.com" %>
      </div>
    </div>
  </div>

  <div class="row" style= "margin-top:2%;">
    <div class="col-lg">
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password" %>
      </div>
    </div>
  </div>

  <div class="row" style= "margin-top:2%;">
    <div class="col-lg">
      <div class="form-group">
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary", style: "width: 100%;" %>
        </div>
      </div>
    </div>
  </div>

  <%= render "devise/shared/links" %>
  
<% end %>
  
  

</div>